@import url("https://rsms.me/inter/inter.css");
@import url("/node_modules/reset-css/reset.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #071723;
  background-color: rebeccapurple;
}